// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-up {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    color: #545454;
    .button {
            display: inline-block;
          　padding: 0.5em 1em;
          　text-decoration: none;
            background: #fd9535;
            color: #FFF;
            border-bottom: solid 4px #D88900;
            border-radius: 3px;
            width: 200px;
            }
    .button:active {
           -webkit-transform: translateY(4px);
          transform: translateY(4px);
          border-bottom: none;
      }
}
.profile-edit {
  color: #545454;
    .button {
            display: inline-block;
          　padding: 0.5em 1em;
          　text-decoration: none;
            background: #4DC0B2;
            color: #FFF;
            border-bottom: solid 4px #37AB9D;
            border-radius: 3px;
            width: 200px;
            }
    .button:active {
           -webkit-transform: translateY(4px);
          transform: translateY(4px);
          border-bottom: none;
      }
}